<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link href="styles/sign-up.css" rel="stylesheet" />
    <link href="styles/partials/errors.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>File Storage</h1>
    </header>
    <main>
      <%- include('partials/errors.ejs') %>
      <h2>Sign Up</h2>
      <form action="/signup" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <label for="confirmPassword">Confirm Password:</label>
        <input
          type="password"
          id="confirm-password"
          name="confirmPassword"
          required
        />
        <button type="submit">Create Account</button>
        <div class="cancel">
          <button type="button" class="cancel-button">
            <a href="/">Cancel</a>
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
